{% extends "site/layout.html" %}

{% block title %}
    Jersey ch1ck3n's subs
{% endblock %}

{% block body %}
      <br>
    <h3>All things</h3>

    <div class="things">
    {% for item in items %}
    <div class="card" onClick="location.replace('/things/{{ item.id }}')">
      <img src="{{ item.url }}" alt="The product" style="width:100%">
      <h1>{{ item.thing }}</h1>
      <p class="price">${{ item.price }}</p>
      <p>{{ item.about }}</p>
      <button><a href="/things/{{ item.id }}">View recipe</a></button>
    </div>
    {% endfor %}
    </div>
{% endblock %}
